*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    height: 100%;
}

textarea{
    width: 100%;
    height: 80%;
}

table{
    background-color: rgb(36, 72, 100);
    width: 100%;
    color:rgb(233, 180, 106);
}
th{
    background-color:rgb(0, 61, 147);
}
td{
    color:rgb(255, 244, 184);
    width: auto;
    text-align: center;
    background-color: rgba(65, 68, 138, 0.502);
    word-wrap: break-word;
}
td>:visited{
    color:violet;
}
#td_nombre>:hover{
    color:aquamarine;
}
td>:link{
    color:rgb(95, 228, 148);
}
#td_nombre{
    max-width: 10em;
}
.container{
    background-color:rgb(92, 91, 99);
    height: 100%;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
.bar{
    float:none;
}
#folder_container{
    float:left;
    /* background-color:rgb(159, 72, 193); */
    width: 40%;
    height: 100%;
}

#editor_container{
    width: 60%;
    float:right;
    height: 100%;
}

#file_icon{
    width: 2em;
    align-self: center;
}


/* Mensajes de estatus */

.successful{
    width: 100%;
    background-color: green;
}

.error{
    width: 100%;
    background-color: darkred;
}